@import url('https://fonts.googleapis.com/css?family=Audiowide');
header {
    background-color: rgb(2, 2, 2);
    color: rgb(254, 254, 255);
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    top: 2px
}
.container {
    max-width: 1200px;
}
header h1 {
    text-align: center;
    font-family: audiowide, sans-serif;
}
body {
    
}

